@media (min-width:1024px) {
    .editor-form {
        margin-left:20%;
        margin-right: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
}

.editor-form {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

.editor-form input {
    width: -moz-available;
}